/* Fonts */
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Hind', sans-serif; */
  @font-face {
  font-family: 'KozGoPro';
  src: url('static/fonts/KozGoPro/KozGoPro-Regular-AlphaNum.eot?#iefix') format('embedded-opentype'),
      url('static/fonts/KozGoPro/KozGoPro-Regular-AlphaNum.otf')  format('opentype'),
      url('static/fonts/KozGoPro/KozGoPro-Regular-AlphaNum.woff') format('woff'),
      url('static/fonts/KozGoPro/KozGoPro-Regular-AlphaNum.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
  }


/* Css reset */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

/* My styles */

  header{
    position: relative;
    background-image: url(../images/samuelzeller.jpg);
    background-attachment: fixed;
    min-height: 600px;
  }
  
  header:before{
    top: 0;
    position: absolute;
    content: "";
    display:block;
    width: 100%;
    height: 100%;
    background-color: #143bcc;
    opacity: 0.35;
    z-index: 0;
  }

  .navigation{
    min-height: 100px;
  }

  .b-logo{
    position: relative;
    display: block;
    margin: 40px 0 0 55px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 0;
    text-transform: uppercase;
    cursor: url(../images/cursor.png), pointer;
    padding-bottom: 1px;
    box-sizing: border-box;
  }

  .white{
    background-color: white;
  }

  .b-logo:hover {
    color: #fff;
    text-decoration: underline;
    background-color: transparent;
  }

  .logo__el:nth-child(1){
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 26px;
  }

  .logo__el:nth-child(2){
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 26px;
  }

  .logo__el:nth-child(3){
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 26px;
  }

  .menu{
    margin: 25px 50px 0 0;    
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .menu > li > a {
    color: #ffffff;
    padding: 15px;
    margin: 0;
  }

  .menu > li > a:hover {
    text-decoration: underline;
    background-color: transparent;
    cursor: url(../images/cursor.png), pointer;
  }

  .menu > li > .tel:visited, .menu > li > .tel:focus{
    background-color: transparent;
    color: #ffffff;

  }

  .menu > li > .tel:hover{
    background-color:#00a1eb;
    border-radius: 5px;

  }
  
  .b-label{
    position: relative;
    margin-top: 190px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    z-index: 2;
    
  }

  .b-label__headline{
    position: relative;
    font-family: Montserrat;
    font-size: 79px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 12.64px;
  }

  .b-label__subheading{
    position: relative;
    margin-top: 30px;
    font-family:'Hind', sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3.53px;

  }

  .b-section{
    padding-top: 120px;
    padding-bottom: 90px;
  }

  .b-section__headline{
    color: #00a1eb;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;

  }

  .b-section__headline:after{
    content: "_____";
    display: block;
    font-weight: 100;
    color:black;
  }

  .b-section__description{
    color: #737373;
    font-family: Hind;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 30px;

  }

  .b-section__phone{
    display: block;
    color: #00a1eb;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .b-section__phone:visited {
    color:  #00a1eb;
    text-decoration: none;

  }

  .b-section__phone:hover {
    color:  #00a1eb;
    cursor: url(../images/cursor.png), pointer;
  }
  

  .b-section__button{
    display: block;
    text-align: center;
    padding: 15px 20px;
    background-color: #00a1eb;
    border-radius: 5px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    cursor: url(../images/cursor.png), pointer;
  }

  .b-section__button:visited {
    color: #ffffff;
    text-decoration: none;

  }

  .b-section__button:hover, .b-section__button:active {
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .b-section__img{
    position: relative;
  }
  
  .b-section__img img{
    width: 100%;
  }


  .b-section__img:before{
    margin: 0 -15px;
    top: 0;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #143bcc;
    opacity: 0.35;
    z-index: 0;
  }


  .b-section__headline_center{
    text-align: center;
  }

  .b-section__description_center{
    text-align: center;
  }


/* Media query */
  @media screen and (max-width: 410px) {
    .b-label__headline {
      font-size: 50px;    
    }
  }


  /* Changing bootstrap navbar collapse menu breakpoint */

    @media (max-width: 1030px) {
      .navbar-header {
        float: none;
      }
      .navbar-toggle {
        display: block;
      }
      .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      }
      .navbar-collapse.collapse {
        display: none!important;
      }
      .navbar-collapse.collapse.in {
        display: block!important;
      }
      .navbar-nav {
        float: none!important;
      }
      .navbar-nav>li {
        float: none;
      }

      .b-logo{
        margin-top: 15px;
        margin-left: 15px;
        float: left;
      }
        
    }


    .owl-carousel{
      margin-bottom: 60px;
    }

    .left-arrow,.right-arrow{
      border: none;
      background-color: transparent;
      position: absolute;
      bottom: 50%;
      transform: translate(-50% 0);
      cursor: url(../images/cursor.png), pointer;
    }

    .left-arrow{
      left: -54px;
    }

    .right-arrow{
      right: -54px;
    }

    .product-wrapper{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(0, 0, 255, 0.5);
      display:flex;
      flex-direction: column;
      align-content:center;
      justify-content: center;
      text-align: center;
      cursor: url(../images/cursor.png), pointer;

    }

    .product-wrapper__name{
      color: #ffffff;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;

    }

    .product-wrapper__price{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    }

    .product-wrapper__order{
      align-self: center;
      padding:12px 18px;
      background-color: white;
      color: #00a1eb;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 10px;
      border-radius: 5px;
      display:none;
      cursor: url(../images/cursor.png), pointer;
    }

    .product-wrapper:hover .product-wrapper__order{
      display:block;
      
    }